# Ignore directories
/Saved/
/.vs/
/Binaries/
/DerivedDataCache/
/Intermediate/

# Ignore patterns for compiled object files, dynamic/static libraries, executables
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa

# Ignore generated project files
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Ignore precompiled assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Ignore binary files and builds
Binaries/*
Plugins/*/Binaries/*
Build/*

# Exclude PakBlacklist files from being ignored
!Build/*/PakBlacklist*.txt

# Do not ignore icon files in Build
!Build/**/*.ico

# Ignore built data for maps
*_BuiltData.uasset

# Ignore editor generated configuration files
Saved/*

# Ignore compiled source files
Intermediate/*
Plugins/*/Intermediate/*

# Ignore cache files for editor
DerivedDataCache/*
